.showerror {
  color: red;
}

.checkbox {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 4px solid #00aded;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
}

.checkbox:checked {
  background-color: #00aded;
}

.name {
  width: 400px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0 20px;
  font-size: 22px;
  font-weight: 700;
}

.name:focus {
  outline: none;
}

.name::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #8b8b8b;
  font-family: museo-sans, sans-serif;
}

.submit {
  width: 200px;
  height: 100%;
  border: none;
  background-color: #8b8b8b;
  color: white;
  font-size: 22px;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.submit:hover {
  background-color: #007dab;
}

.submit_image {
  margin-right: 220px;
  background-color: #00aded;
}

.box {
  display: grid;
  grid-template-columns: 320px 320px 320px auto;
  column-gap: 20px;
  grid-template-rows: 1fr 1fr auto auto;
  row-gap: 20px;
}

.box_small {
  width: 100%;
  height: 100px;
  /* border-radius: 25px; */
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: #00aded;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.box_clickable {
  background-color: #00aded;
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.box_clickable:hover {
  background-color: #007dab;
}

.box_medium {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: #00aded;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

  grid-column: 2 span;
}

.box_full {
  width: 100%;
  height: 100%;
  /* border-radius: 25px; */
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.box_full_menu {
  display: flex;
  width: 100%;
}

.box_full_menu > p {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
}

.box_full_menu > p:hover {
  background-color: #007dab;
  cursor: pointer;
  color: white;
}

.hidden {
  display: none;
}

.box_full_menu_active {
  background-color: #00aded;
  cursor: pointer;
  color: white;
  /* border-top-left-radius: 25px;
  border-bottom-right-radius: 25px; */
}

.box_full_content {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  /* border-radius: 25px; */
  display: flex;
}

.box_full_content_checkbox {
  width: 200px;
  height: 100%;
  /* border-bottom-left-radius: 25px;
  border-top-right-radius: 25px; */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.box_full_content_options {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.box_full_content_checklist {
  width: 120px;
  height: 130px;
  display: grid;
  grid-template-columns: 30px 30px auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  column-gap: 20px;
}

.box_small_checklist_tire {
  background: none;
  border: none;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.box_small_checklist_tire:focus {
  outline: none;
}

.box_small_checklist_tire::placeholder {
  font-size: 18px;
  font-weight: 700;
  font-family: museo-sans, sans-serif;
  color: #8b8b8b;
}

.box_mediumplus {
  width: 100%;
  height: 370px;
  /* border-radius: 25px; */
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  color: #00aded;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

  grid-column: 2 span;
  grid-row: 3;
}

.box_mediumplus > textarea {
  height: 100%;
  border: none;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
  font-family: museo-sans, sans-serif;
}

.box_mediumplus > textarea:focus {
  outline: none;
}

.box_mediumplus > textarea::placeholder {
  font-size: 18px;
  font-family: museo-sans, sans-serif;
  font-weight: 700;
  color: #8b8b8b;
}

.box_small_input {
  background: none;
  border: none;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
}

.box_small_input:focus {
  outline: none;
}

.box_small_input::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #8b8b8b;
}

.box_small_checklist {
  display: grid;
  grid-template-columns: 100px 15px 125px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 20px;
}

.box_small_checklist_two {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 20px;
}

.box_small_checklist_label {
  margin-top: 5px;
  font-size: 18px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.box_small_pics {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 20px;
  color: black;
}

.automatic_mail {
  width: 100%;
  height: 100px;
  /* border-radius: 25px; */
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  color: #00aded;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 15px 0 0;
}

.automatic_mail > p {
  padding: 0 20px;
}

.automatic {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
}

.automatic_title {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.automatic_title > p {
  color: black;
}

.automatic_button {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00aded;
  margin-left: auto;
}

.automatic_button:hover {
  background-color: #007dab;
}

.automatic_button > p {
  color: white;
  font-size: 18px;
}

.box_full_content_image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagebox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
}

.imagebox > .box_clickable {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 200px;
  border: none;
  cursor: pointer;
  background-color: #8b8b8b;
  font-size: 22px;
}

.imagebox > .box_clickable:hover {
  background-color: #007dab;
}

.imagebox_add {
  width: 100%;
  height: 350px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagebox_add > svg {
  width: 55px;
  color: #acacac;
}

.viewimage {
  width: 100%;
  height: 350px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #00aded;
}

.viewimage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.viewimage_date {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00aded;
  font-size: 22px;
}

.viewimage_name {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  color: #00aded;
  font-size: 22px;
  cursor: pointer;
}

.url {
  height: 40px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0 20px;
  font-size: 22px;
  font-weight: 700;
  margin: 10px;
}

.url:focus {
  outline: none;
}

.url::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #8b8b8b;
  font-family: museo-sans, sans-serif;
}

.upload {
  width: 200px;
  margin-right: 20px;
}

.upload::-webkit-file-upload-button {
  width: 200px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #00aded;
  border: none;
  color: white;
  font-family: museo-sans, sans-serif;
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
}

.upload::-webkit-file-upload-button:hover {
  background-color: #007dab;
}

.urlimg {
  width: 200px;
  border: none;
  font-size: 22px;
  border: 2px solid #00aded;
  font-family: museo-sans, sans-serif;
  padding: 0 20px;
  color: #00aded;
}
.urlimg::placeholder {
  font-family: museo-sans, sans-serif;
}
