@import url("https://use.typekit.net/igy4igy.css");

html,
body {
  font-family: museo-sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
